
html {
  scroll-behavior: smooth;
}
#acc{
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}
#acc p{
    font-family: "BBH Sans Bartle", sans-serif;
    padding-top: 100px;
}
#acc .start{
    margin-top: 20px;
}

#head{
    z-index: 999;
    top: 5px;
    position: fixed;
    margin-left: 5px;
    width: 99%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #f3f1e9;
    border-radius: 15px;
}
.menu, ul{
    margin-top: 15px;
    list-style: none;
    display: flex;
   
}
.menu ul li a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
    font-family: sans-serif;
    transition: 0.5s;
    padding-bottom: 5px;
}

.menu ul li :hover{
    border-bottom: solid black 5px;
    width: auto;
    transition: 0.5s;
}
.logo{
    font-size: 25px;
    color: black;
    margin-right: 40px;
    margin-top: 10px;
}


.start{
    margin-left: 50px;
    text-align: center;
    background-color: black;
    width: 400px;
    height: 400px;
    border-radius: 400px;
}

/*.start:active{
    background-image: linear-gradient(to right, black, white );
    width: 400px;
    height: 400px;
    rotate: 360deg;
    margin-left: 850px;
}*/


/*@keyframes left {
    from{
       background-color: black;
        
    }

    to{
       background-color: #f3f1e9;
        
    }
}
.start{
    animation-name: left;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay:0s ;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-fill-mode: both; 

}


#about{
    width: 99%;
    height: 600px;
    text-align: center;
    font-size: 25px;
    font-family: "BBH Sans Bartle", sans-serif;
}*/
#formation{
    padding-top: 90px;
}
.format{
    font-family: "BBH Sans Bartle", sans-serif;
    font-size:30px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.container .card{
    width: 180px;
    height: 160px;
    text-align: center;
    background-color: #f3f1e9;
    transition: 0.5s;

}

.container .card:hover{
    cursor: pointer;
    background-color: antiquewhite;
    transform: scale(1.4);
    z-index: 1;
}
.container .card p{
    font-size: 12px;
}
.container .card i{
    font-size: 2em;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#experiences{
    margin-top: 100px;
    padding-top: 100px;
}

.exper{
    font-family: "BBH Sans Bartle", sans-serif;
    font-size:30px;
    text-align: center;
    
}

#contacts{
    margin-top: 100px;
    padding-top: 100px;
}
.cont{
    font-family: "BBH Sans Bartle", sans-serif;
    font-size:30px;
    text-align: center;
}

.carte{
    width: 100%;
    height: auto;
    
}
.carte .infos .donnee{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;

    width: 260px;
}
.carte .infos .donnee i{
    font-size: 1.5em;
}
.carte .infos .donnee:hover{
    cursor: pointer;
    
}

.infos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mess{
    width: 250px;
    height: 100px;
}
.message{
    text-align: center;
}

form{
    text-align: center;
}

.footer{
    margin-top: 20px;
    width: 100%;
    display: flex;
    
}
.footer i{
    font-size: 2em;
    
}

.footer i:hover{
    cursor: pointer;
}
@media screen and (max-width:1000px){
    .start{
        display: none;
    }
    hr{
        display: none;
    }
    .container{
        flex-wrap: wrap;
    }
    .container .card{
        margin-top: 20px;
    }
    
    .container .card:hover{
    transform: scale(1.2);
    z-index: 1
    }

    .carte .infos{
        flex-wrap: wrap;

    }

    .carte .infos .donnee{
        margin-top: 25px;
        
    }
}

@media screen and (max-width:770px){
    .logo{
        display: none;
    }

    .head{
        width: 100%;
    }

    .head .menu{
        flex-direction: column;
    }

}

@media screen and (max-width:450px){
    .format{
        font-size: 15px;
    }

    .exper{
        font-size: 15px;
    }

    .cont{
        font-size: 15px;
    }

    .head{
        width: auto;
    }

}